body {
	height: 100vh;
	background-image: url('https://ichef.bbci.co.uk/news/660/cpsprodpb/14F6C/production/_105486858_4669077b-0103-4a09-a640-f065afb9340a.jpg');
	background-size: cover;
	background-repeat:no-repeat;
}

