

body {
    background-image: url('https://images-americanas.b2w.io/produtos/01/00/sku/37626/0/37626058_1GG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    margin-left: 0px;
    margin-right: 0px;
}
