
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaT-i1BQ1DOD1zvilwOfzGgjdAB0pzahMnv7vykdofmxQF58i2');
    background-repeat: no-repeat;
    background-size: cover;
}
div[id="botoes"]{
    margin-left:0%;
    margin-right:0%;
}
/*input {
    margin-top: 10%;
    margin-left: 40%;
}*/