
body {
    background-image: url('https://assets.papodehomem.com.br/2016/02/04/17/54/47/c2d3ae2e-4a51-4f92-986b-9d2a0794d703/08-motivos-para-ficar-ansioso-para-o-design-weekend.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
div[id="Card"]{
    background-color: #a79e9e2b
}